<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li class="alert {{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <h1>Welcome to Lifeeazy!</h1>

    <!-- Logout Button -->
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

    <!-- Delete Account Section -->
    <h3>Account Management</h3>
    <form method="POST" action="{% url 'delete_account' %}">
      {% csrf_token %}
      <button type="submit">Delete Account</button>
    </form>
  
  
</body>
</html>
