<h1>Search Users</h1>
<form method="get">
    <input type="text" name="q" placeholder="Search by first or last name" value="{{ query }}">
    <button type="submit">Search</button>
</form>

<h2>Results:</h2>
<p>
    {% if query %}
        {{ user_count }} user{% if user_count != 1 %}s{% endif %} found for "{{ query }}".
    {% endif %}
</p>
<ul>
    {% for user in users %}
        <li>{{ user.Firstname }} {{ user.LastName }}</li>
    {% empty %}
        <li>No users found.</li>
    {% endfor %}
</ul>

<!-- Pagination Links -->
<div class="pagination">
    <span class="step-links">
        {% if users.has_previous %}
            <a href="?q={{ query }}&page=1">First</a>
            <a href="?q={{ query }}&page={{ users.previous_page_number }}">Previous</a>
        {% endif %}

        <span>Page {{ users.number }} of {{ users.paginator.num_pages }}</span>

        {% if users.has_next %}
            <a href="?q={{ query }}&page={{ users.next_page_number }}">Next</a>
            <a href="?q={{ query }}&page={{ users.paginator.num_pages }}">Last</a>
        {% endif %}
    </span>
</div>
